<!--
  Copyright (c) 2020 Cynthia K. Rey
  Licensed under the Open Software License version 3.0
-->
<% if (attachment.width && attachment.width > 0 && attachment.width && attachment.width > 0) { %>
    <% if (/\.(png|jpe?g|webp|gif)$/i.test(attachment.filename)) { %>
        <%
            const url = new URL(attachment.proxy_url || attachment.url)
            url.searchParams.append('width', parseInt(attachment.displayMaxWidth).toString())
            url.searchParams.append('height', parseInt(attachment.displayMaxHeight).toString())
        %>
        <img is='message-image' data-clickable src='<%= url.href %>' alt='' class='image'
             data-width='<%= attachment.width %>' data-height='<%= attachment.height %>'
             data-url='<%= attachment.url %>' style='max-width: <%= attachment.displayMaxWidth %>'>
    <% } %>
    <% if (/\.(mp4|webm|mov)$/i.test(attachment.filename) && attachment.proxy_url) { %>
        <div class='decorated-video'
             style='width: <%= attachment.displayMaxWidth %>; height: <%= attachment.displayMaxHeight %>'>
            <div class='metadata'>
                <div class='details'>
                    <span class='name'><%= attachment.filename %></span>
                    <span class='size'><%= attachment.formattedBytes %></span>
                </div>
                <a href='<%= attachment.url %>' target='_blank' class='download'>
                    <!--suppress HtmlUnknownAttribute-->
                    <svg width='24' height='24' viewBox='0 0 24 24'>
                        <path fill='currentColor' d='M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z'/>
                    </svg>
                </a>
            </div>
            <!--suppress CheckTagEmptyBody HtmlUnknownAttribute-->
            <video src='<%= attachment.url %>' poster='<%= attachment.proxy_url %>?format=jpeg' controls
                   controlsList='nodownload' disablePictureInPicture></video>
        </div>
    <% } %>
<% } else { %>
    <% const textRegex = /\.(?:txt|md|log|c\+\+|cpp|cc|c|h|hpp|mm|m|json|js|jsx|rb|rake|py|asm|fs|cgi|bat|rss|java|graphml|idb|lua|o|gml|prl|sls|conf|cmake|make|sln|vbe|cxx|wbf|vbs|r|wml|php|bash|applescript|fcgi|yaml|ex|exs|sh|ml|actionscript|html|xhtml|htm|xml|xls|xsd|css|styl|scss|go)$/i%>
    <% const isAudio = /\.(mp3|ogg|wav|flac)$/i.test(attachment.filename) && attachment.url %>
    <!--suppress HtmlUnknownTag-->
    <message-attachment class='<%= isAudio ? ' audio' : '' %>'>
        <div class='data'>
            <img src='https://discord.com/assets/<%= attachment.iconHash %>.svg' alt='' class='icon'/>
            <div class='details'>
                <a href='<%= attachment.url %>' target='_blank'><%= attachment.filename %></a>
                <span><%= attachment.formattedBytes %></span>
            </div>
            <% if (textRegex.test(attachment.filename)) { %>
                <div class='preview'>
                    <!--suppress HtmlUnknownAttribute-->
                    <svg width='20' height='20' viewBox='0 0 18 20'>
                        <path fill='currentColor'
                              d='M15 15H3V13H15Zm0-4H3V9H15Zm0-4H3V5H15ZM0 20l1.5-1.5L3 20l1.5-1.5L6 20l1.5-1.5L9 20l1.5-1.5L12 20l1.5-1.5L15 20l1.5-1.5L18 20V0L16.5 1.5 15 0 13.5 1.5 12 0 10.5 1.5 9 0 7.5 1.5 6 0 4.5 1.5 3 0 1.5 1.5 0 0Z'/>
                    </svg>
                </div>
            <% } %>
            <a href='<%= attachment.url %>' target='_blank' class='download'>
                <!--suppress HtmlUnknownAttribute-->
                <svg width='24' height='24' viewBox='0 0 24 24'>
                    <path fill='currentColor' d='M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z'/>
                </svg>
            </a>
        </div>
        <% if (isAudio) { %>
            <!--suppress CheckTagEmptyBody HtmlUnknownAttribute-->
            <audio src='<%= attachment.url %>' controls controlsList='nodownload'></audio>
        <% } %>
    </message-attachment>
<% } %>
