<!--
  Small microservice to generate a Discord-like chat section
  Copyright (C) 2020 Bowser65

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no'/>
    <title>#<%= data.channel_name %> • Discord Chat Archive</title>

    <meta name='theme-color' content='#affaff'/>
    <meta property='og:locale' content='en_US'/>
    <meta property='og:title' content='Discord Chat Archive'/>
    <meta property='og:site_name' content='NailaBot'/>
    <meta property='og:url' content='https://archive.naila.bot/'/>
    <meta property='og:image' content='https://avatars.githubusercontent.com/u/54024876'/>
    <meta property='og:description' content='Chat archive of #<%= data.channel_name %>'/>
    <link rel='shortcut icon' href='https://avatars.githubusercontent.com/u/54024876'/>

    <meta name='twitter:card' content='summary'/>
    <meta name='twitter:site' content='@NailaBot'/>
    <meta name='twitter:creator' content='@Bowser65'/>
    <!--suppress JSUnresolvedLibraryURL-->
    <link rel='stylesheet' href='https://highlightjs.org/static/demo/styles/solarized-dark.css'/>
    <style><%- assets.style %></style>
</head>
<body class='theme-dark'>
    <%- include('header.ejs', { data: data }) %>
    <main>
        <div class='placeholder'></div>
        <div class='welcome'>
            <h1>Welcome to <b>#<%= data.channel_name %></b>!</h1>
            <div>This is the start of the #<%= data.channel_name %> channel.</div>
        </div>
        <!--suppress HtmlUnknownTag-->
        <discord-messages>
            <%- include('messages.ejs', { data: data, markdown: markdown }) %>
        </discord-messages>
    </main>
    <footer>
        <img src='https://canary.discordapp.com/assets/dc7e9e55b3a6d39d24acdd650ecc2ef3.svg' alt=''>
        <span>
            This archive was generated on the&nbsp;
            <!--suppress HtmlUnknownTag-->
            <message-date data-type='full' data-timestamp='<%= Date.now() %>'>
                <%= new Intl.DateTimeFormat('en-GB', {
                    year: 'numeric',
                    month: 'long',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    timeZoneName: 'long'
                }).format(new Date()) %>
            </message-date>
        </span>
    </footer>
    <script>
      window.GLOBAL_ENV = { HOSTNAME: '<%= `${req.headers['x-forwarded-proto'] || 'http'}://${req.headers.host}` %>' }
    </script>
    <script><%- assets.script %></script>
</body>
</html>
