<% for (const msg of group) { %>
    <% const author = data.entities.users[msg.author] %>
    <!-- TODO: System messages -->
    <!-- TODO: Date separators -->
    <div class='message<% if (group.indexOf(msg) === 0) { %> group-start<% } %>'>
        <% if (group.indexOf(msg) === 0) { %>
            <img is='message-avatar' src='<%= author.avatar %>' data-discriminator='<%= author.discriminator %>'
                 alt='avatar' class='avatar'/>
        <% } else { %>
            <message-date class='time' data-type='time' data-timestamp='<%= msg.time %>'>
                <% const msgDate = new Date(msg.time) %>
                <!-- @formatter:off -->
                <%= msgDate.getHours().toString().padStart(2, '0') %>:<%= msgDate.getMinutes().toString().padStart(2, '0') %>
                <!-- @formatter:on -->
            </message-date>
        <% } %>
        <div class='contents'>
            <% if (group.indexOf(msg) === 0) { %>
                <message-header>
                    <span class='name'><%= author.username %></span>
                    <span class='badge'><%= author.badge %></span>
                    <!--suppress HtmlUnknownTag-->
                    <message-date class='date' data-type='date' data-timestamp='<%= msg.time %>'>
                        <%= new Date(msg.time).toUTCString() %>
                    </message-date>
                </message-header>
            <% } %>
            <!-- Note: Webhooks **can** use named links in messages -->
            <message-markup>
                <%- markdown.parse(msg.content, data.entities, author.discriminator === '0000') %>
            </message-markup>
            <div class='embeds'>
                <% if (typeof msg.invites !== 'undefined') { %>
                    <% for (const invite of msg.invites) { %>
                        <!--suppress CheckTagEmptyBody-->
                        <discord-invite data-code='<%= invite %>'></discord-invite>
                    <% } %>
                <% } %>
                <% if (typeof msg.attachments !== 'undefined') { %>
                    <% for (const attachment of msg.attachments) { %>
                        <!-- TODO -->
                    <% } %>
                <% } %>
                <% if (typeof msg.embeds !== 'undefined') { %>
                    <% for (const embed of msg.embeds) { %>
                        <%- include('embed.ejs', { data: data, embed: embed, markdown: markdown }) %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
<% } %>
