<!--
  Small microservice to generate a Discord-like chat section
  Copyright (C) 2020 Bowser65

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<% for (const msg of group) { %>
    <% const author = data.entities.users[msg.author] %>
    <!-- TODO: System messages -->
    <!-- TODO: Date separators -->
    <div class='message<% if (group.indexOf(msg) === 0) { %> group-start<% } %>'>
        <% if (group.indexOf(msg) === 0) { %>
            <img is='message-avatar' src='<%= author.avatar %>' data-discriminator='<%= author.discriminator %>'
                 alt='avatar' class='avatar'/>
        <% } else { %>
            <message-date class='time' data-type='time' data-timestamp='<%= msg.time %>'>
                <% const msgDate = new Date(msg.time) %>
                <!-- @formatter:off -->
                <%= msgDate.getHours().toString().padStart(2, '0') %>:<%= msgDate.getMinutes().toString().padStart(2, '0') %>
                <!-- @formatter:on -->
            </message-date>
        <% } %>
        <div class='contents'>
            <% if (group.indexOf(msg) === 0) { %>
                <message-header>
                    <span class='name'><%= author.username %></span>
                    <span class='badge'><%= author.badge %></span>
                    <!--suppress HtmlUnknownTag-->
                    <message-date class='date' data-type='date' data-timestamp='<%= msg.time %>'>
                        <%= new Date(msg.time).toUTCString() %>
                    </message-date>
                </message-header>
            <% } %>
            <message-markup>
                <!-- Note: Webhooks **can** use named links in messages -->
                <%- markdown.parse(msg.content, data.entities, author.discriminator === '0000') %>
            </message-markup>
            <div class='embeds'>
                <% if (typeof msg.invites !== 'undefined') { %>
                    <% for (const invite of msg.invites) { %>
                        <!--suppress CheckTagEmptyBody-->
                        <discord-invite data-code='<%= invite %>'></discord-invite>
                    <% } %>
                <% } %>
                <% if (typeof msg.attachments !== 'undefined') { %>
                    <% for (const attachment of msg.attachments) { %>
                        <%- include('attachment.ejs', { data: data, attachment: attachment }) %>
                    <% } %>
                <% } %>
                <% if (typeof msg.embeds !== 'undefined') { %>
                    <% for (const embed of msg.embeds) { %>
                        <%- include('embed.ejs', { data: data, embed: embed, markdown: markdown }) %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
<% } %>
